@startuml {{ entity.class }}
!define TABLE(name,desc) class name as "desc" << (T,#FFAAAA) >>
!define CLASS(name,desc) class name as "desc" << (C,#AAAAFF) >>
!define PRIMARY_KEY(x) <u>x</u>: PK
!define FOREIGN_KEY(x) <i>x</i>: FK
!define NOT_NULL(x) <b>x</b>
' Layout directives
!pragma layout smetana
skinparam ranksep 0
skinparam nodesep 0
skinparam svgMargin 0
skinparam shadowing false
skinparam padding 0
skinparam margin 0
skinparam linetype ortho

' Single entity
{%- if entity.is_mapped_superclass %}
CLASS({{ entity.class }}, {{ entity.class.replace("Entity", "") }}) {
{%- for column in entity.columns %}
  {{ column }}
{%- endfor %}
}
{%- else %}
TABLE({{ entity.class }}, {{ entity.class.replace("Entity", "") }}) {
{%- if entity.primary_key %}
{%- for pk in entity.primary_key %}
  PRIMARY_KEY({{ pk }})
{%- endfor %}
{%- endif %}
  --
{%- for column in entity.columns %}
{%- if column not in entity.primary_key %}
{%- set is_fk = false %}
{%- for fk in entity.foreign_keys %}
{%- if fk == column %}
{%- set is_fk = true %}
{%- endif %}
{%- endfor %}
{%- if not is_fk %}
  NOT_NULL({{ column }}) 
{%- endif %}
{%- endif %}
{%- endfor %}
  --
{%- for fk in entity.foreign_keys %}
  FOREIGN_KEY({{ fk }})
{%- endfor %}
}
{%- endif %}

@enduml
